/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/


#testoAlternato{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    font-size: 2rem;
}

.parole{
    position: relative;
}

.parole i{
    position: absolute;
    margin-left: 5%;
    top: -10px;
}


i :nth-child(1){
    animation-name: animazione1 ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 50px;
}

i :nth-child(2){
    animation-name: animazione2 ;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

i :nth-child(3){
    animation-name: animazione3 ;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes animazione1 {
    0%{
        color: #8298A7;
        transform: translateY(0px);
        
    }

    
    25%{
        color: #8298A7;
        
    }
    
    
    
    50%{
        color: #8298A7;
        
    
    }


    75%{
        color: #8298A7;
        
    }

    100%{
        color: #8298A7;
        transform: translateY(50px);
    }
}










@keyframes animazione2 {
    0%{
        top: 50px;
    }
}














@keyframes animazione3 {
    0%{
        top:50px;
    }
}




